* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.listview-section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
}

.listview-section .listview-header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
}
.listview-section .listview-header::-webkit-scrollbar{
    width: 0px;
}

.listview-section .listview-header .listview-top {
    width: 100%;
    height: 60px;
    /* background-color: rgb(138, 243, 138); */
    display: flex;
}

.listview-section .listview-header .listview-top .listview-top-left {
    width: 50%;
    height: 100%;
    /* background-color: rgb(132, 104, 50); */
}

.listview-section .listview-header .listview-top .listview-top-left .listview-heading {
    width: 210px;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listview-section .listview-header .listview-top .listview-top-left .listview-heading .top-viewicon {
    width: 40px;
    height: 40px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listview-section .listview-header .listview-top .listview-top-left .listview-heading .top-viewicon svg {
    font-size: 1.3em;
    color: #303636;
}

.listview-section .listview-header .listview-top .listview-top-left .listview-heading h2 {
    font-weight: 600;
    font-size: 1.5em;
    color: #303636;
}

.listview-section .listview-header .listview-top .listview-top-right {
    width: 50%;
    height: 100%;
    /* background-color: rgb(155, 155, 109); */
    display: flex;
    justify-content: end;
    align-items: center;
}

.listview-section .listview-header .listview-top .listview-top-right .editbtn-store {
    width: 200px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listview-section .listview-header .listview-top .listview-top-right .editbtn-store button {
    width: 170px;
    height: 45px;
    background-color: #968a8a;
    color: #fff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.listview-section .listview-header .all-view-section-lists {
    width: 100%;
    height: 50px;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 2px 1px #ede8e8;
    border-radius: 8px;

}

.listview-section .listview-header .all-view-section-lists ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    font-size: 0.9em;
    font-weight: 500;
    color: #4b4545;
    /* background-color: yellow; */
    overflow-x: scroll;


}

.listview-section .listview-header .all-view-section-lists ul::-webkit-scrollbar {
    width: 0px;
}

.listview-section .listview-header .all-view-section-lists ul li {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    list-style: none;


}

.listview-section .listview-header .overview-cart-box {
    width: 100%;
    height: 250px;
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
}

.listview-section .listview-header .overview-cart-box .able-balance {
    width: 30%;
    height: 100%;
    /* background-color: skyblue; */

    padding: 10px;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 223, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .w-ab-heading {
    width: 100%;
    height: 40px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .rupy {
    width: 100%;
    height: 100px;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .rupy .rupy-img {
    width: 60px;
    height: 60px;
    /* background-color: black; */
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .rupy .rupy-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .rupy h1 {
    color: #261f2d;
    font-weight: 600;
    font-size: 2em;
}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .r-w-heading {
    width: 100%;
    height: 50px;
    /* background-color: #5ada91; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.listview-section .listview-header .overview-cart-box .able-balance .w-a-b .r-w-heading button {
    width: 90%;
    height: 100%;
    background-color: rgb(38, 31, 45);
    font-size: 1em;
    color: #ffffff;
}

.listview-section .listview-header .overview-cart-box .pwct {
    width: 70%;
    height: 100%;
    /* background-color: rgb(69, 81, 45); */
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box {
    width: 100%;
    height: 50%;
    /* background-color: #232929; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 {
    width: 50%;
    height: 100%;
    background-color: #e2eed8;
    border-radius: 10px;
    padding: 10px;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-icon {
    width: 100%;
    height: 40px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: space-between;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-icon .zero {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-icon .zero h2 {
    font-weight: 600;
    font-size: 1.6em;
    color: #e18947;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-icon .pwct-icon {
    width: 40px;
    height: 40px;
    /* background-color: rgb(213, 213, 228); */


}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-icon .pwct-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-info {
    width: 100%;
    height: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: start;
    align-items: center;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart1 .confirem-info h4 {
    font-size: 1.1em;

    color: #1b5167;
    margin-left: 10px;

}

/* czrt 2 */
.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart2 {
    width: 50%;
    height: 100%;
    background-color: #eae9e8;
    border-radius: 10px;
    padding: 10px;
}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-icon {
    width: 100%;
    height: 40px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: space-between;

}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-icon .zero {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-icon .zero h2 {
    font-weight: 600;
    font-size: 1.6em;
    color: #e18947;
}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-icon .pwct-icon {
    width: 40px;
    height: 40px;
    /* background-color: rgb(213, 213, 228); */


}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-icon .pwct-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-info {
    width: 100%;
    height: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: start;
    align-items: center;

}

.listview-section .listview-header .overview-cart-box .pwct .cart2 .confirem-info h4 {
    font-size: 1.1em;

    color: #1b5167;
    margin-left: 10px;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 {
    width: 50%;
    height: 100%;
    background-color: #e2efee;
    border-radius: 10px;
    padding: 10px;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-icon {
    width: 100%;
    height: 40px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: space-between;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-icon .zero {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}   
.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-icon .zero h2{
    font-weight: 600;
    font-size: 1.6em;
    color: #eb9393;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-icon .pwct-icon {
    width: 40px;
    height: 40px;
    /* background-color: rgb(213, 213, 228); */


}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-icon .pwct-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-info {
    width: 100%;
    height: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: start;
    align-items: center;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart3 .confirem-info h4 {
    font-size: 1.1em;

    color: #1b5167;
    margin-left: 10px;

}

/* cart-4 */
.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 {
    width: 50%;
    height: 100%;
    background-color: #e9e9f4;
    border-radius: 10px;
    padding: 10px;
}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-icon {
    width: 100%;
    height: 40px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: space-between;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-icon .zero {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-icon .zero h2{
    font-weight: 600;
    font-size: 1.6em;
    color: #77c1e6;
} 

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-icon .pwct-icon {
    width: 40px;
    height: 40px;
    /* background-color: rgb(213, 213, 228); */


}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-icon .pwct-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-info {
    width: 100%;
    height: 40px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: start;
    align-items: center;

}

.listview-section .listview-header .overview-cart-box .pwct .pw-box .cart4 .confirem-info h4 {
    font-size: 1.1em;

    color: #1b5167;
    margin-left: 10px;

}
.listview-section .listview-header .store-location-info-box{
    width: 100%;
    height: 250px;
    /* background-color: rgb(145, 145, 35); */
    padding: 10px;
}
.listview-section .listview-header .store-location-info-box .viewstore-info{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px 1px #ede8e8;
    /* background-color: skyblue; */
    border-radius: 10px;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .viewstore-info-top{
    width: 100%;
    height: 50px;
    /* background-color: #0c8794; */
    border: 0.5 solid #95a0a1;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .viewstore-info-top .viewstore-info-top-heading{
    width: 160px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .viewstore-info-top .viewstore-info-top-heading .viewstore-info-icon{
    width: 40px;
    height: 40px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .viewstore-info-top .viewstore-info-top-heading .viewstore-info-icon svg{
    font-size: 1.1em;
    color: #303636;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .viewstore-info-top .viewstore-info-top-heading h3{
    font-size: 1.1em;
    font-weight: 500;
    color: #303636;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info{
    width: 100%;
    height: 180px;
    /* background-color: rgb(234, 218, 251); */
    display: flex;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left{
    width: 50%;
    height: 100%;
    /* background-color: rgb(51, 153, 122); */
    display: flex;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .store-image-info-box{
    width: 200px;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .store-image-info-box .main-store-image{
    width: 130px;
    height: 130px;
  
    border: 0.5px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .store-image-info-box .main-store-image img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details{
    width: 400px;
    height: 100%;
    /* background-color: #9460c8; */
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .main-store-details-heading{
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .main-store-details-heading h3{
    font-size: 1.1em;
    font-weight: 600;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .all-map-details{
    width: 100%;
    height: 30px;
    /* background-color: rgb(145, 145, 35); */
    display: flex;
    
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .all-map-details .media-icon{
    width: 30px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .all-map-details h3{
    font-size: 1em;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-left .main-store-details .all-map-details span{
    color: #93a3a5;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-right{
    width: 50%;
    height: 100%;
    /* background-color: #77c1e6; */
    padding: 10px;
}
.listview-section .listview-header .store-location-info-box .viewstore-info .store-map-info-right .google-map-show{
    width: 100%;
    height: 100%;
}
.listview-section .listview-header  .store-owner-info-box{
    width: 100%;
    height: 250px;
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
    gap: 10px;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px #ede8e8;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .store-owner-top{
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid #95a0a1;
   
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .store-owner-top-heading{
    width: 150px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .owner-details-left{
    width: 100%;
    height: 170px;
    /* background-color: #e18947; */
    display: flex;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .owner-details-left .owner-image{
    width: 150px;
    height: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .owner-details-left .owner-image .main-owner-image{
    width: 100px;
    height: 100px;
    background-color: #77c1e6;
    border-radius: 10px;
   
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .owner-details-left .owner-part{
    width: 70%;
    height: 100%;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .owner-details-left .owner-part .owner-emails{
    width: 100%;
    height: 30px;
    /* background-color: pink; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.listview-section .listview-header  .store-owner-info-box .store-owner-info-left .business-plane{
    width: 100%;
    height: 170px;
    /* background-color: #e18947; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}