*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .mid-section{
    width: 100%;
    height: 88vh;
    /* background-color: rgb(199, 62, 62); */
    display: flex;
}
.mid-section .sidebar{  
     width: 20%;
        height: 100%;
        flex:  0 0 20%;
        transition: all 0.3s ease-in-out;
        /* background-color: yellow; */
      
}
.sidebar.toggle{
    width: 0%;
    flex: 0 0 0%;
}
 .mid-section   .pages{
    width: 80vw;
    height: 100%;
    flex:  0 0 80%;
    transition: all 0.3s ease-in-out;
    /* background-color: rgb(27, 161, 214); */
    
    
}
.pages.toggle{
    width: 100%;
    flex: 0 0 100%;
} 
  
