.category-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 1100px;
  margin: 0 auto;
}

.form-section {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-section legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  padding: 0 10px;
  margin-bottom: 10px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="time"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  /* margin: 0 auto; */
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

textarea {
  border: 1px solid #ccc; /* Default border */
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

textarea:focus {
  border-color: #4A90E2; /* Blue border on focus */
  outline: none;
}
